*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main {
    background-image: url("Assets/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 80vh;
    position: relative;
    width: 100%;
}

.main .box {
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.64;
    position: absolute;
    top: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    height: 65px;
    margin: auto;
}

nav img {
    width: 120px;
    position: relative;
    z-index: 1;
}

nav button {
    margin: 0 3px;
    position: relative;
    z-index: 1;
}

.midtext {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    color: white;
    font-size: 25px;
    gap: 15px;
}

.midtext> :first-child {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.midtext> :nth-child(2) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.midtext> :nth-child(3) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.midtext ::placeholder {
    font-size: 20px;
    padding: 5px 15px;
}
.separation {
    height: 7px;
    width: 100vw;
    background-color: gray;
}

.btn1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 4px;
    border: 1px solid white;
    padding: 5px 14px;
    font-size: 16px;
    background-color: rgba(23, 23, 23, 0.2);
    cursor: pointer;
}

.btn2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 4px;
    border-style: none;
    padding: 5px 14px;
    font-size: 16px;
    background-color: rgb(229, 9, 20);
    cursor: pointer;
}

.btnsc {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 4px;
    border-style: none;
    font-weight: 400;
    padding: 12px 30px;
    font-size: 24px;
    background-color: rgb(229, 9, 20);
    cursor: pointer;
}

.getstarted input {
    height: 50px;
    background-color: rgba(23, 23, 23, 0.2);
    border-radius: 4px;
    border: 1px solid grey;
    padding-top: 11px;
    padding-bottom: 8px;
    padding-right: 140px;
    padding-left: 10px;
    color:white;
    font-size: 20px;
    
}

.getstarted ::placeholder {
    font-weight: bolder;
    padding-left: 0px;
}
.getstarted{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
@media only screen and (max-width:655px) {
    .midtext> :first-child {
        font-size: 38px;
        font-weight: bold;
    }

    .midtext> :nth-child(2) {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
    }

    .midtext> :nth-child(3) {
        font-size: 18px;
        font-weight: bold;
    }
    .btn1 {
        padding: 4px 5.5px;
        font-size: 12px;
    }
    .btn2 {
        padding: 4px 15px;
        font-size: 12px;
    }
    .btnsc {
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 4px;
        border-style: none;
        font-weight: 400;
        padding: 3px 6px;
        font-size: 12px;
    }
    
    .getstarted input {
        width: 85px;
        height: 15px;
        padding-top: 3px;
        padding-bottom: 6px;
        padding-right: 20px;
    }
    
    .getstarted ::placeholder {
        font-size: 12px;
    }
    nav{
        gap: 5px;
    }
}
.section{
    background-color: black;
} 
.firstimg img, .firstimg video {
    max-width: 100%;
    left: 0;
    right: 0;
}
.first{
    color: white;
    display: flex;
    max-width: 70vw;
    margin: auto;
}
.firstimg img{
    width: 30vw;
    position: relative;
    z-index: 10;
}
.txt{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 8px;
}
.large{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    font-weight: bolder;
}
.small{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.firstimg{
    position: relative;
}
.firstimg video{
    position: absolute;
    top: 54px;
    left: 40px;
    width: 22vw;
    overflow: hidden;  
}
.faq svg{
    cursor: pointer;
}
.faq{
    padding: 34px 0px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading{
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: bolder;
}
.faqbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75vw;
    background-color: rgba(114, 113, 113, 0.692);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 17px 10px;
    margin: 10px 0px; 
}
.faqbox:hover{
    background-color:rgba(87, 86, 86, 0.692) ;
}